@import url('css_1.css');
@import url('css.css');
/*
font-family: 'Raleway', sans-serif;
font-family: 'Libre Baskerville', serif;
*/

/************  FIX PASTE DIALOG ******/
ul.dx.dxm-image-l li:before {
    display: none;
}

ul.dx.dxm-image-l li {
    float: left;
    padding-left:0;
}

/* TYPOGRAFIE */

.dxss-wrap {
   white-space: normal;
       padding-right: 48px !important;
}


.WebContent                     *
,.htmleditor								    *
, .dxss-wrap						        *
, #testplacecontent  			      *
, [class^="dxheDesignViewArea"]	*

{
    font-family: 'Raleway', sans-serif;
        color: #666;
        font-size: 16px;
        font-weight: 400;
}

.WebContent                     fa
,.htmleditor								    fa
, .dxss-wrap						        fa
, #testplacecontent  			      fa
, [class^="dxheDesignViewArea"]	fa
{
    font-family: FontAwesome !important;
}

.WebContent                     p
,.htmleditor								    p
, .dxss-wrap						        p
, #testplacecontent  			      p
, [class^="dxheDesignViewArea"]	p

{
    margin: 0 0 18px 0;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
}

.WebContent  .fa {

       font-family: FontAwesome;
}

h1 {

    font-weight: 200;
    font-size: 45px;
    color: #2e2a2b;
}

p {

    font-weight: 300 ;
    font-size: 16px ;
    line-height: 23px ;
}



.WebContent                     h1
,.htmleditor								    h1
, .dxss-wrap						        h1
, #testplacecontent  			      h1
, [class^="dxheDesignViewArea"]	h1
{
    font-family: 'Libre Baskerville', serif;
    font-weight: 200;
    font-size: 45px;
    color: #2e2a2b;
    line-height: 100% !important;
}

.WebContent                     h2
,.htmleditor								    h2
, .dxss-wrap						        h2
, #testplacecontent  			      h2
, [class^="dxheDesignViewArea"]	h2
{

    font-weight: 400;
    font-size: 35px;
     line-height: 100% !important;
     width: initial !important;
         margin-bottom: 10px;
          padding-bottom: 0;
              font-family: 'Libre Baskerville', serif;
}

.WebContent                     h3
,.htmleditor								    h3
, .dxss-wrap						        h3
, #testplacecontent  			      h3
, [class^="dxheDesignViewArea"]	h3
{
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 25px;
      border: 0 none;
               margin-bottom: 10px;
          padding-bottom: 0;
              width: initial !important;
                  color:#71645e !important;
}

.WebContent                     h4
,.htmleditor								    h4
, .dxss-wrap						        h4
, #testplacecontent  			      h4
, [class^="dxheDesignViewArea"]	h4
{
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 20px;
    color: #2e2a2b;
    border: 0 none;
               margin-bottom: 10px;
          padding-bottom: 0;
              width: initial !important;
}




/*--------------------DEFINICE BAREV - GLOBAL forecolor-----------------*/

.forecolor1, .btn-info:hover, .btn-info {
    background-color: #6d5333 !important;
    color: white !important;
}

.btn-info {
    border-color: #6d5333;
}

.forefont1

, .WebContent                   h2
, .htmleditor								    h2
, .dxss-wrap						        h2
, #testplacecontent  			      h2
, [class^="dxheDesignViewArea"]	h2


{
    color: #71645e !important;
}

.forecolor2 {
    background-color: #a8002c !important;
    color: white !important;
}

.forecolorgray {
    background-color: #f5f5f4 !important;
    color: #363636 !important;
}


.forefont2 {
    background-color: transparent !important;
    color: #a8002c !important;
}

.forefontgray {
    background-color: transparent !important;
    color: #68655c !important;
}

.forecolorButtBcg2 {
    background: url(../images/detail-bcg.png) no-repeat 4px 398px transparent;
}

.WebContent                     a
,.htmleditor								    a
, .dxss-wrap						        a
, #testplacecontent  			      a
, [class^="dxheDesignViewArea"]	a

,.WebContent                    a:visited
,.htmleditor								    a:visited
, .dxss-wrap						        a:visited
, #testplacecontent  			      a:visited
, [class^="dxheDesignViewArea"]	a:visited

,.WebContent                    a:hover
,.htmleditor								    a:hover
, .dxss-wrap						        a:hover
, #testplacecontent  			      a:hover
, [class^="dxheDesignViewArea"]	a:hover

,.WebContent                    a:active
,.htmleditor								    a:active
, .dxss-wrap						        a:active
, #testplacecontent  			      a:active
, [class^="dxheDesignViewArea"]	a:active
{text-decoration: none !important; color: #b11e13 !important ;}




/* POMOCNE XLS GRID - je pak nahrazováno CMS XLS gridou */

.xlsw25 {
    width: 24.999%;
    float: left;
}

.xlsw24 {
    width: 23.999%;
    float: left;
}

.xlsw28 {
    width: 27.999%;
    float: left;
}


.xlsw75 {
    width: 74.999%;
    float: left;
}

.xlsw33 {
    width: 32.999%;
    float: left;
}

.xlsw50 {
    width: 50%;
    float: left;
}


/*-----------------footer infoBox--------------------*/
.infoBox {
    display: block;
    width: 100%;
    overflow: hidden;
    padding-bottom: 10px;
        /*padding-top: 10px;*/
}

.infoBoxCell {
    display: block;
    width: 100%;
    overflow: hidden;
    padding-left: 38px;
}

    .infoBoxCell h3 {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        margin-bottom: 0px;
        text-transform: uppercase;
        font-size: 24px;
        color: #2e2a2b !important;
    }


    .infoBoxCell ul {
        display: block;
        width: 100%;
        padding-left: 0px;
    }

        .infoBoxCell ul li {
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 300;
            list-style: none;
            padding-left: 0px;
            margin-top: 10px;
            margin-bottom: 10px;
            height: 25px;
            padding-top: 8px;
        }


            .infoBoxCell ul li a,
            .infoBoxCell ul li a:hover,
            .infoBoxCell ul li a:active,
            .infoBoxCell ul li a:link,
            .infoBoxCell ul li a:visited {
                color: #505050;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 300;
            }

/* CELL IMAGE 2016 */

.cellimageholder {
    width: 100%;
    height: 100%;
    display: block;
}

.cellimageholderinner {
    display: table-cell;
}

.cellimageholderinner.iLeft   {text-align:left !important;}
.cellimageholderinner.iCenter {text-align:center !important;    }
.cellimageholderinner.iRight  {text-align:right !important;}

.cellimageholderinner.itop    {vertical-align: top;}

.cellimageholderinner.iMiddle {    vertical-align: middle;
        background: #161213;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 450px;
    position: relative;
        overflow: hidden;
}
        
.cellimageholderinner.iBottom {vertical-align: bottom;}

img.cellimg                    {max-width:100%; }

img.cellimg.iborderTrue           {border: 5px solid white;}
img.cellimg.iradiusTrue           {border-radius: 10px;}
img.cellimg.ishadowTrue {
-webkit-box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.42);
-moz-box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.42);
box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.42);
    margin: 10px;}

/*****************/

/* LIUL */

.WebContent                     ul *
, .htmleditor								    ul *
, .dxss-wrap						        ul *
, #testplacecontent  			      ul *
, [class^="dxheDesignViewArea"]	ul *
{
    font-size: 16px !important;

}

.WebContent                     ul li
, .htmleditor								    ul li
, .dxss-wrap						        ul li
, #testplacecontent  			      ul li
, [class^="dxheDesignViewArea"]	ul li
{
    margin-left: 20px;
    clear: both;
    line-height: 138%;
    padding: 0 !important;
    background: none !important;

}

.WebContent            ul li:before
, .htmleditor								    ul li:before
, .dxss-wrap						        ul li:before
, #testplacecontent  			      ul li:before
, [class^="dxheDesignViewArea"]	ul li:before
{
    content: "■ ";
     color: #b11e13;
    position: absolute;
    float: left;
    padding-right: 7px;
    margin-top: -2px;
    font-size: 18px;
    margin-left: -18px;
}

.WebContent                     ul
, .htmleditor								    ul
, .dxss-wrap						        ul
, #testplacecontent  			      ul
, [class^="dxheDesignViewArea"]	ul
 {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    padding: 16px 0 14px;

}

.WebContent                     ul ul
, .htmleditor								    ul ul
, .dxss-wrap						        ul ul
, #testplacecontent  			      ul ul
, [class^="dxheDesignViewArea"]	ul ul
 {
      margin: 2px 0 1px -2px;

}

.WebContent                     ul li ul
, .htmleditor								    ul li ul
, .dxss-wrap						        ul li ul
, #testplacecontent  			      ul li ul
, [class^="dxheDesignViewArea"]	ul li ul
 {

        padding: 0;

}


.filesList ul li:before {
    display: none;
    position: absolute;
    top: -5000px;
}


.galerie ul li:before {
    display: none;
    position: absolute;
    top: -5000px;

}

.galerie ul li {
    clear: none !important;
}


/************/
/* OL LI */


.WebContent  ol  {
	padding: 0 0 0 32px;
	counter-reset: item;

}
.WebContent  ol li {
	background: none repeat scroll 0 0;
	padding: 0 0 8px 2px;
     line-height: 130%;
       font-size: 17px;
}

.WebContent  div > ol > li {
	list-style: none outside none;
  margin-left:-30px;
}

.WebContent  div > ol > li > ol{
	color:black;
}

.WebContent   ol li:before {
	content: counters(item, ".")".";
	counter-increment: item;

}
.WebContent   ol li ul, .WebContent   ol li ol {
	padding: 1px 0 6px 32px;
	list-style: decimal;
	counter-reset: item

}

.WebContent   ol li ul li, .WebContent   ol li ol li {
	border: 0 none;
	padding: 0;

	display: block;
	position: relative;
}

.WebContent                     ol ol
, .htmleditor								    ol ol
, .dxss-wrap						        ol ol
, #testplacecontent  			      ol ol
, [class^="dxheDesignViewArea"]	ol ol
 {
    margin-bottom: -8px;

}

/*****************/


.WebContent                     strong
, .htmleditor								    strong
, .dxss-wrap						        strong
, #testplacecontent  			      strong
, [class^="dxheDesignViewArea"]	strong {
    font-weight: 700 !important;
        text-decoration: none !important;
}

/**********/
.dn, .num_item {
    display: none;
}

.zvyraznenabunka {
position:relative;
	width: 100%;
	height: 100%;
	padding: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	font-size: 25px;
	font-weight: 300;
	color: white;
	text-align: center;
}

.zvyraznenabunka.black {
	background: black;
      padding: 12px 20px 16px;
    font-weight: 800;
}

.zvyraznenabunka.red {
	background: #c83838;
      padding: 10px 20px 12px;
    font-weight: 800;
}

.prodoba {
	padding-left: 25px;
}

a.zvyraznenabunkalnk.forecolor1,
a.zvyraznenabunkalnk.forecolor1:active,
a.zvyraznenabunkalnk.forecolor1:focus,
a.zvyraznenabunkalnk.forecolor1:visited {
	width: 80%;
	height: auto;
	font-size: 26px;
	font-weight: 700;
	color: white !important;
	padding: 10px 35px 10px 35px;
	border-radius: 8px;
}

a.zvyraznenabunkalnk.forecolor1:hover {
	text-decoration: none !important;
	width: 80%;
	height: auto;
	font-size: 26px;
	font-weight: 700;
	color: white !important;
	padding: 10px 35px 10px 35px;
	border-radius: 8px;
	background: black !important;
}

.ourteamwrp {
	width: 100%;
	height: auto;
	display: block;
	text-align: center;
}

.teampicture img {
	width: 200px;
	height: 200px;
    border: #27265d 2px solid;
    border-radius: 50%;
}

.ourteamwrp h3 {
    font-size: 24px;
    margin: 34px 0 16px;
    font-weight: 700;
    text-align: center;
}

.ourteamwrp p {
	width: 100%;
	text-align: center;
}

.icon {
    text-align: center;
    width: 172px;
    height: 150px;
    margin: 0px auto;
}

.square .fill .fa,
.icon .fa {
	color: #fff !important;
    font-size: 50px !important;
}

.icon .circle {
	width: 140px;
	height: 140px;
	border: 1px solid #d9d9d9;
    border-radius: 50%;
    margin: 0px auto;
    padding: 20px;
}

.icon .circle .fill {
    background: #71645e;
    height: 100px;
    width: 100px;
    border-radius: 85px;
    margin: 0px auto;
    display: flex;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
}

.icowrp,
.ttlwrp,
.ttlwrp p {
	width: 100%;
	height: auto;
	display: block;
	clear: both;
	text-align: center;
}

.squarewrp {
	width: 100%;
	display: block;
}

.square {
    width: 200px;
    height: 200px;
    border: 1px solid #d9d9d9;
    padding: 20px;
}

.square .fill {
    width: 160px;
    height: 160px;
    background: #71645e;
    display: flex;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
}

.descrpt {
	width: 60%;
	display: block;
	padding-left: 35px;
	padding-top: 0px;
}

.descrpt h3 {
	margin-top: 0px;
	padding-top: 20px;
}

.squareicon.left,
.descrpt.left {
	float: left;
}

.squareicon.left {
	padding-left: 10px;
}

.squareicon.right,
.descrpt.right {
	float: right;
}

.descrpt.right {
	padding-right: 35px;
}

.descrpt.right h3,
.descrpt.right p {
	text-align: right;
}

.squareicon.right {
	padding-right: 10px;
}

.chart {
    position: relative;
    display: block;
    width: 160px;
    height: 160px;
    text-align: center;
    margin: 0 auto 20px auto;
}

.chart span {
 	line-height: 160px;
    font-size: 34px;
    font-weight: 400;
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(40,40,240,0.1);
}

.i h3.chartttl {
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    margin: 5px 0 15px;
    margin-bottom: 0px;
    font-weight: 400;
}




.linkswrp a{
    display: none;
}

.linkswrp a.tlako1visibleTrue, .linkswrp a.tlako2visibleTrue {
    display: flex;
        font-weight: 500 !important;
}





.notMissProduct.product{
width: calc(25% - 50px);
    height: 260px;
    overflow: hidden;
    padding: 0px;
    margin-right: 25px;
    margin-bottom: 25px;   }

.notMissProduct.product   {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
      position: relative;
}

.notMissProduct.product  h3 {
font-size: 19px;
    font-weight: 400;
    color: #b11e13;
    /* margin-top: 25px; */
    /* margin-bottom: 20px; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    padding: 0 !important;
    margin: 0 !important;
    /* background: red; */
}

.notMissProduct.product  span {
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 146%;
    display: block;
    /* height: 102px;
    overflow: hidden; */
}

.notMissProduct.product a.dnTrue {
  display: none;
}

.notMissProduct .product {
    position: relative;
}

.notMissProduct a {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}





.oneThird.openTime {
    padding-right: 0;
    margin-bottom: 10px;
}

.oneThird {
    float: left;
    margin-top: 15px;
    width: 275px;
    padding: 15px 15px 10px 15px !important;
    min-height: 240px !important;
}

.prodejna a.button {
    display: block;
    margin: 0 auto;
    float: none;
    width: 232px;
    background: #84746b;
    padding: 17px;                                 
    border-radius: 13px;
    color: white !important;
    text-align: center;

}

.prodejna .button.down {
    position: absolute;
    bottom: 22px;
    left: calc(50% - 123px);
}

 .prodejna .button.down a {
    background:rgba(99, 79, 70, 0.9);       
}



.prodejna {
    padding-bottom: 35px;
}

.prodejna h2 {
font-size: 22px !important;
    font-weight: 900 !important;
    font-family: 'Raleway', sans-serif;
        margin-top: 0;
}

.oneThird.openTime table {
    margin: 17px 0 -6px !important;
}

 .prodejna h2, .WebContent .prodejna th, .prodejna td,  .prodejna strong {
    color: white !important;
}

 .prodejna th,  .prodejna strong {
    font-weight: 900 !important;
}

 .prodejna th,  .prodejna td {
    padding: 0 5px 10px 0 !important;
}



.oneThird.openTime {
    padding-right: 0;
    margin-bottom: 0;
    position: absolute;
bottom: 10px;
    left: 15px;
    background: rgba(99, 79, 70, 0.9);
}

.button.down {
    clear: both;
}

.oneThird.contact {
    position: absolute;
    bottom: 10px;
    right: 15px;
    background: rgba(99, 79, 70, 0.9);
}

.oneThird.contact a {
    color:#ffe5ba !important;
}
.oneThird.contact a:hover {
    color:#ffe5ba !important;
    text-decoration: underline !important;
}


.prodejna td {
    padding: 10px;
}

.oneThird.photo {
    float: left;
    margin-top: 15px;
    width: 100%;
    position: relative;
        margin-bottom: 42px;
}

.oneThird.photo p {
    padding: 0;
    margin: 0;
    color: white !important;
        overflow: hidden;
}

.oneThird.photo img {
    margin-top: 17px;
    /* border: 10px solid white; */
    width: calc(100% - 0px);
    cursor: pointer;
    margin-top: -50px;
}