/* RESPONSIVE FLEXI XLS GRID */

div [class^="article_cell_"] {
   height: auto !important;
       overflow: visible;
}

div [class^="article_row_"] {
    height: auto !important;
    display: flex;
    /*padding-bottom: 20px;*/
    overflow: visible;
    justify-content: center;  }
/**********  RESPONSIVE == NEW TOP MENU 2016  ***********/


.responsiveMainMenu {   
    display: none;
}

@media only screen and (max-width: 860px) {
/*.responsiveMainMenu {
    display: block !important;
    background: black;
}  */
}

.openButton.navigace:before {
    content: '\f0c9';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    position: absolute;
    font-size: 22px;
    color: white;
    padding: 0 10px 0;
    display: block;
    margin: -3px 0 0 -35px;
}

.openButton.navigace {
    cursor: pointer;
    color: white;
    margin: 20px 32px;
    font-weight: 900;

}

.openDiv.wrp_menu_resp {
    opacity: 0;
    position: absolute;
    top: -5000px;
}


.openDiv.wrp_menu_resp.isOpen {
    background: #223742;
    margin-top: -10px;
    width: 100%;
    color: white;
    z-index: 999;
}
.openDiv.wrp_menu_resp.isOpen {
    opacity: 1;
    position: relative;
    top: 0;
}

/**********  RESPONSIVE == LEFT MENU  ***********/
#header {
    box-sizing: inherit !important;
    color: #fff;
    display: none;
    font-size: 1.1em;
    font-weight: bold;
    height: 33px;
    left: 0px;
    line-height: 40px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 20px;
    z-index: 250;
}


#header a, .headerX a {
    background: transparent url("../images/mmenuwhite.png") no-repeat scroll center center;
    display: block;
    height: 40px;
    margin-left: 0;
    margin-top: -3px;
    position: static;
    width: 42px;
    z-index: 1050;
}  

.mm-list i.fa.fa-angle-right {
    margin-right: 6px;
}


/***************************/


/**********  RESPONSIVE INPUT MENU  ***********  */
/*
#responsiveMainMenu {
    border-radius: 10px;
    padding: 7px 10px;
    display: none;
    position: relative;
    margin: 10px;
    width: calc(100% - 103px);
    margin: 13px auto;
}

/***************************/


/***** CORE STYLES   ******/

.webwidth {
    width: 100%;
     padding: 0 55px;
}
/**************************/


@media only screen and (max-width:1850px) {

.lftinfo *, .spnwrp2 * {
    font-size: 15px !important;
    line-height: 100%;
}

.lftinfo .spnwrp1 .spn1 {

    margin-top: 9px;
}



}

@media only screen and (max-width:1550px) {

a.actns + div {
    display: none;
}

.sliderpicture {
 
    background-position: center right;
}


.lftinfo * {
    font-size: 14px !important;
    line-height: 100%;
}

span#svateka, span#svatekb {
    padding-top: 4px !important;
}




.slidetext,
.slidetitle  {
	max-width: 60%;
	height: auto;
	display: block;
    margin: 0px auto;
    text-align: center;
    float: none;
}

.slidetitle p  {
    font-size: 30px;
    height: auto;
}

.slidetext p  {
    font-size: 26px;
    height: auto;
    max-height: 50px;
    margin-bottom: 15px;
}

.slideadholder {
	text-align: center;
}

.searchBox {
	top: -249px;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
}

.categorywrapper {
//	width: 840px;
	margin: 0px auto;
}

.category {
	width: 150px;
}

.productswrapper {
/*	width: 715px;*/
	float: none;
	margin: 0px auto;
}

.productswrapper .product {
	width: 337px;
}

}
    
@media only screen and (max-width:1386px) {

.resumeadresholder >div {
    width: 25%;
    height: 151px;
    text-align: center;
    margin-bottom: 27px;
    margin-top: 14px;
}

.zakaznik h2, .dodaciadresa h2, .fakturacniudaje h2, .uhradadoprava h2 {
    font-size: 18px !important;
 
}

.resumeadresholder {
    width: 100%;
}

/***********  GRID ZLOM + SPOJENA‰ ***************/

div [class^="article_cell_"] {
	clear: both !important;
	width: 100% !important;
	height: auto !important;
	margin: 0px auto !important;
	float: none !important;
	display: block !important;
}

div [class^="article_row_"] {
   flex-direction: column;
}


.fullwrprow {
    display: flex;
    flex-direction: column;
}

.boxyItemSideB, .boxyItemSideA {
    display: block !important;
    clear: both;
    width: 100%;

}

 .boxyItemSideA,
 .primboxy .boxyItemInner .boxyItemInnerImg {

    min-height: 300px !important;
    height: 300px !important;
}

.primboxy .boxyItemInner .boxyItemSideB  {

    min-height: 300px !important;
}




h2 {
    font-size: 2.5vw !important;
}

.contentpadding {
  padding: 0 20px;
}  

.wrapper.webwidth  {
	width: calc(100% - 40px);  
    
}

.middleholder {
	width: 300px;
	padding-left: 0px;
	padding-right: 0px;
}

.wrapper.webwidth.contentpadding {
	clear: both;
}

/* .productswrapper, */
.notMissProducts {
width: 100% !important;
	max-width: 1058px !important;
	margin: 0px auto;
	float: none;
}

.homearticlecontent {
 
    align-items: center; }

.categorywrapper {
//	width: 630px;
}

/* 
.productswrapper {
	width: 600px;
	margin: 0px auto;
}
 */

/* 
.productswrapper .product {
	width: 280px;
}
 */

/* .detailbtnitem a, */
/* .detailbtnitem, */
.imageHolder,
.centerdiv {
	position: relative;
	z-index: 0;
	background: transparent;
}

.categoryPicture {
    overflow: hidden;
    height: 220px; 
}

.categoryListItem {
    width: calc(100% / 2);
}

.invoicecell, .deliveryadresscell {
    overflow: visible;
}

.pozn .invoicecell {
 height: auto;
}

}
@media only screen and (max-width:1650px) {

.footerline {
    display: block;
}
.footer.copyrights p {
    text-align: left;
}
.flinks {
    padding: 25px 0 0 15px;
}
 
}

@media only screen and (max-width:1050px) {

.flinks {
    padding: 0;
}


.flinks, .flinks a, .footerline p {
    display: block;
    text-align: center;
}

p.pivider {
    display: none;
}

.flinks a {
    padding-bottom: 5px !important;

}

.shopcardholder .row.vatrow div, .shopcardholder .row.nonvatrow div {
    width: 100%;
    text-align: center;
}
   
   
   .shopcardholder .vatrow div.productprice p,
   .shopcardholder .vatrow div.pricetitle p,
   .shopcardholder .nonvatrow div.pricetitle p  ,
   .shopcardholder .nonvatrow div.productprice p
    {
    width: 100%;
    text-align: center !important;
}



.col-md-1.productimg,
.col-md-1.productdel,
.col-md-2.celkemheader,
.col-md-2.celkem,
.col-md-2.priceheader,
.shopcardholder .col-md-1,
.shopcardholder .col-md-3
 							{
width: 15%;
float: left;
}  

.shopcardholder .row:first-child {
display:none;
}

.shopcardholder .row .col-md-2.nonvat,
.shopcardholder .row .col-md-1.nonvat,
.shopcardholder .row .col-md-1.vat,
.shopcardholder .row .col-md-2.vat {
display: none !important;
}

.shopcardholder .row .producttitle {
width: 35%;
float: left;
}

.shopcardholder	.vatrow div.pricetitle {
padding-top: 15px!important;
}

.shopcardholder	.vatrow div, .shopcardholder .nonvatrow div {
padding-top: 0px !important;
min-height: 1px;
padding-top: 15px !important;
}

.shopcardholder .row .loader.dn.loader-1 {
margin: 0px !important;
padding: 0px !important;
}



.col-md-8 {
display: none;
}

.col-md-1.productimg img { 
width: 99px;
}

.col-md-2.pricetitle,
.col-md-2.productprice.productpriceVat,
.col-md-2.productprice.productpriceNoVat {
width: 21%;
float: left;
}

.col-md-2.productprice.productpriceVat p,
.col-md-2.productprice.productpriceNoVat p {
text-align: left !important;
}

.col-md-2.count {
float: left;
padding-right: 0px !important;
padding-left: 0px !important;
}

.col-md-2.count .counter {
width: 90px;
margin-right: auto;
margin-left: auto;
}


.col-md-8 {
width: 1%; !important;
height: 1px;
min-height: 1px !important;
max-height: 1px;
}

.vatrow div.col-md-8 {
padding-top: 1px !important;
}

.shopcardholder	.vatrow div.pricetitle {
padding-top: 76px!important;
}

.shopcardholder	.vatrow div {
min-height: 1px;
padding-top: 32px !important;
}

.shopcardholder .nonvatrow div {
min-height: 1px;
padding-top: 5px !important;
}

.shopcardholder	.nonvatrow div.pricetitle {
padding-top: 8px!important;
}

.cardbuttons {
padding-top: 15px;
}

 

.productmoreinfo {
padding-top: 0px;
padding-bottom: 0px;
}

.productsattribute {
padding-top: 35px;
}

.payanddelivery {
    padding-bottom: 45px;
}

/******************************************************************/


.productwrapper {
    padding: 0 22px 0 18px;
}


.categorywrapper {
    margin: 0px auto;
    padding-left: 16px;
}




.wrapper.webwidth  {
	width: calc(100% - 5px) !important;
  padding: 0 10px 0 19px !important;
}

.footer .wrapper.webwidth.contentpadding {
    padding: 0 6px 0 0 !important;
}

.slider.homeslider::after {
 
   background-image: none;
    
    }

.footerline {
    flex-wrap: wrap;
}

.footer.copyrights p {
    /* padding: 0; */
    margin-left: 0;
        margin-top: 5px;
        text-align: center;
}


 
.flinks, .flinks+p {
    width: 100%;
    
}

.footer.copyrights p {
     padding: 5px 0 0;
    
}

.footerHolder .homearticlecontent {
    padding: 20px 0 0;
}

.flinks a {
    padding: 0;
    margin: 0 7px 0 0!important;
}


.imgtpwrp {
    height: 208px;
}

span.spnwrp {
    margin: 18px 5px;
    font-size: 18px;
}
 }

@media only screen and (max-width:900px) {

h2 {
    font-size: 20px !important;
}

.imgtpwrp {
    height: 208px;
}
.lftinfo a.actns {
    display: none;
}

.openDiv.mainwrp .lftinfo .spnwrp1 {
    width: 100%;
}

.sliderpicture {
 
  
        background-size: contain;
    background-position: bottom center;
       background-repeat: no-repeat;
       background-color: #1e0f0c;
}

}

@media only screen and (max-width:800px) {

.shopcardholder .row div.producttitle,
.shopcardholder .row div.productdel,
.shopcardholder .row div.count,
.col-md-2.nonvat,
.col-md-1.vat,
.col-md-2.celkemheader,
.col-md-2.celkem,
.col-md-2.priceheader,
.shopcardholder .col-md-1,
.shopcardholder .row div.celkem p,
.shopcardholder .row div.celkem span,
.col-md-2.pricetitle,
.col-md-2.productprice.productpriceVat,
.col-md-2.productprice.productpriceNoVat
							{
    width: 245px;
    display: block;
    clear: both !important;
    margin: 0px auto;
    float: none;
    padding: 0px 0px 0px 0px !important;
    padding-top: 15px !important;
    text-align: left;
    min-height: 29px;
        height: 0;
}

.shopcardholder .row div.celkem p {
    font-size: 25px;
    text-align: center !important;
    padding: 0 !important;
}

.shopcardholder .row div.productdel a {
    padding-left: 0;
}

.shopcardholder .row div.productdel {
    padding-top: 10px !important;
    min-height: 0;
    height: 18px;
} 

.col-md-1.productimg img {
margin: 0px auto;
padding-bottom: 10px;
width: 245px;
}

.col-md-2.count .counter {
float: left;
}

.shopcardholder .row div {
min-height: 35px;
}

.shopcardholder .row .col-md-1.productimg {
      margin-top: 25px;
}

.col-md-4.producttitle p {
    text-align: center;
}

.col-md-1.count p:after {
    content: "x";
}

.col-md-1.count p {
    text-align: center;
}

.row.doprava .productimg {
    display: none !important;
}

.row.platba .productimg {
    display: none !important;
}

.col-md-8.venovanirow {
    max-height: initial !important;
    padding: 0;
    margin: 0;
    width: 100%;
    display: block !important;
    position: relative;
}

.shopcardholder .vatrow div {
    padding: 0 !important;
}

p.pripojitnadpis {
    width: 100% !important;
    display: block;
    clear: both;
    float: left;
        text-align: center;
}

.pripojittext {
    width: 100% !important;
    clear: both;
}

.venovaniholder {
    display: block !important;
}

.vatrow div.col-md-8 p {
 
    padding-top: 20px;
}

.ptipojitbutton {
    position: relative;
    float: right;
    margin-top: -64px;
}


.shopcardholder .vatrow div.pricetitle p,
.col-md-2.productprice.productpriceVat p,
 .col-md-2.pricetitle p,
 .col-md-2.productprice.productpriceNoVat p
 {
    text-align: center !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.shopcardholder .col-md-2.celkemheader,
 .shopcardholder .row div.vat,
  
.shopcardholder .col-md-2.sdph,
 .shopcardholder .row div.celkem,
  .shopcardholder .col-md-2.bezdph,
   .shopcardholder .col-md-2.nonvat,
    .shopcardholder .col-md-2.productprice.productpriceVat, .shopcardholder .col-md-2.productprice.productpriceNoVat {
 
    padding-right: 0 !important;
}

.col-md-2.productprice.productpriceNoVat, 
.col-md-2.pricetitle{
    padding-top: 0 !important;
}

.shopcardholder {
 
    margin-bottom: 0;
}




.slider.homeslider [class^="article_row_"], .slider.homeslider [class^="article_cell_"] {
  height:calc(40vw - 1px) !important;
      min-height: calc(40vw + 36px);
}


.sliderholder {
  height:calc(40vw - 1px) !important;
      min-height: calc(40vw + 36px);
}

.header {
  height:calc(40vw - 1px) !important;
      min-height: calc(40vw + 36px);
}

.lftinfo , .breadcrumbsholder{
   display: none !important;
}


 .productdetailright .prodright {
 
    padding-left: 34px;
}

.addCart {
    display: block;
    width: 100%;
    min-width: 0;
    padding-bottom: 27px;
}

.dalsikytky {
    display: none;
 

}

.stepholder {
 width: 100%;
}

.step1, .step2, .step3, .step4 {
    width: 180px;
    margin: 4px;
}

.stepholder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 30px;
}

.resumeadresholder >div {
    width: 50%;
 
}

.zakaznik h2, .dodaciadresa h2, .fakturacniudaje h2, .uhradadoprava h2 {
    font-size: 16px !important;
 
}




}



@media only screen and (max-width:547px) {

.cardbuttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.backtoshopbutton {
    margin-bottom: 20px;
}

.personType.row .col-md-5.mauto {
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center;
    justify-content: center;
        width: 100%;
}

.personType.row .col-md-5.mauto .btn{
 
        width: 100%;
}

 

.productdetailleft {
    width: 100%;
    max-height: 150px;
    overflow: hidden;
    min-height: 150px;
    margin-bottom: 20px;
}

a.putinbasket {
    width: 50%;
}

.productdetailright {
    width: 100%;
}

.col-sm-12.prodright.popisek {
    height: auto;
}

.cellimageholderinner.iMiddle {
    max-height: 150px;
        overflow: hidden;
          background: #251110;
}

a.putinbasket {
    width: calc(100% - 91px);
    margin-top: -7px;
}

.glyphicon-asterisk:before {
  display:none
}

.col-sm-12.prodright.popisek {
    font-size: 17px;
}

.cellimageholder.inproduct img {
  min-width: auto; 
    
}

.categoryListItem {
    width: calc(100% / 1);
}

.topinfo {
    position: fixed;
}

.content {
   padding-top:8px;
}

ul.nav.nav-tabs li a {
 width: 100%;
}



 

.imgtpwrp {
    height: 120px;
}


}


@media only screen and (max-width:500px) {

.resumeadresholder >div {
    width: 100%;
        height: auto;
            margin-bottom: 0;
    margin-top: 0;
 
}

a.putinbasket {
    width: 100%;
    margin-top: 0px;
}

.productwrapper {
    padding: 0 0 0 18px;
}

 

span.spnwrp {
    margin: 18px 5px;
    font-size: 18px;
}


span#svateka + span.spn1 , span#svatekb, span#svatekb + span.spn1    {
   display: none !important;
}

.lftinfo {
 //   display: none !important;
}
}

@media only screen and (max-width:430px) {
.slidewrp .wrapper50 {
    height: 128px;
}

.slidewrp .borderwrp {
    height: 343px;
}

.nav-tabs>li {
   width: 100%;
}
ul.nav.nav-tabs li.active a {
    background: #a8002c;
    color: #fff;       }

}

 
 /******************** HEIGHT ******************************************************************************************************************************/
 
 @media only screen and (max-height:600px) {
 
 a.logolink {
    display: none;
}


}